 <ion-tabs>

        <ion-tab-bar slot="bottom"  mode='md'>
          <ion-tab-button tab="create-game">
            <ion-icon name="create-outline"></ion-icon>
            <ion-label>CREATE</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="matches">
            <ion-icon name="game-controller-outline"></ion-icon>
            <ion-label>MATCHES</ion-label>
          </ion-tab-button>
      
         
          <ion-tab-button tab="withdraw">
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>WITHDRAW</ion-label>
          </ion-tab-button>
          
        </ion-tab-bar>
      
      </ion-tabs>

